body {
    background-color: #73d611;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-text {
    position: absolute;
    margin-top: 6%;
    margin-left: -6%;
    color: white;
}

.button-menu {
    display: flex;
    flex-basis: 100%;
    width: 27%;
    justify-content: center;
    margin-left: 34%;
    border-radius: 5px;
}

img {
    width: 22%;
    border-top-right-radius: 5%;
    border-top-left-radius: 5%;
}

.img-text {
    font-weight: 900;
    padding-left: 2%;
    font-family: sans-serif;
}

.img-text h4 {
    font-size: 20px;
}

.img-text h5 {
    font-size: 15px;
    margin-top: -17%;
}

.button-menu li {
    padding: 5%;
    list-style: none;
    color: white;
    font-size: 32px;
    font-weight: bold;
    -webkit-text-stroke: 1px;
    background-color: rgba(0, 0, 0, 0.5);
}

.button-menu li:nth-child(2):hover {
    color: green;
    background-color: rgba(0, 0, 0);
}

i:hover {
    cursor: pointer;
}

.button-menu li:first-child {
    border-bottom-left-radius: 5%;
    border-top-left-radius: 5%;
}

.button-menu li:last-child {
    border-top-right-radius: 5%;
    border-bottom-right-radius: 5%;
}

.items {
    list-style: none;
    background: white;
    width: 17rem;
    margin-top: 0;
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
}

.items li {
    display: flex;
    justify-content: space-between;
}

hr {
    border-bottom: 1px solid beige;
}

.first-text {
    margin-left: -13%;
}
